.nav {
  box-sizing: border-box;
  position: relative;
  top: -8px;
  left: -8px;
  background-color: black;
  width: 900px;
  color: lightblue;
}

.my-name {
  background-color: blue;
  color: yellow;
}
